@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
// typography
$work-sans: 'Work Sans';
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 32px;
// color
$primary: #0B24FB;
$secondary: #fff;
$third: #EEBECE