.card {
    width: 311px;
    height: 176px;
    position: relative;
    z-index: 2;
}

.image-card {
    width: 311px;
    height: 176px;
}

.container-title-card {
    background-color: black;
    opacity: 50%;
    position: relative;
    z-index: 1;
    bottom: 76px;
    height: 72px;
    display: flex;
    align-items: center;
}

.card-title {
    position: relative;
    color: white;
    z-index: 2;
    bottom: 148px;
    height: 72px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}