.container-card-testimonial {
    width: 247px;
    height: 140px;
    background-color: white;
}

.box-card-testimonial {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}