* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: $third;
}

// background color
.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

// Display
.flex {
    display: flex;
}

// align content
.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-items-center {
    justify-items: center;
}

.justify-content-end {
    justify-content: end;
}

// Borders 
.outline {
    outline-style: solid;
    border-width: 1px;
}